.top-form{
    -fx-background-color: #fff;
    -fx-border-width: 0.4px 0.4px 0.3px 0.4px;
}

.logout-btn{
    -fx-background-color: #CBC3E3;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.logout-btn:hover{
    -fx-background-color: c6a8c6;
}

.purple-bg{
    -fx-background-color: #e6e6fa;
    -fx-background-radius: 10px;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box,  rgba(0,0,0,0.4), 4,0,0,0);
}

#label1{
    -fx-text-fill: black;
}